@using CarWorkshop.Application.CarWorkshop;

@model CarWorkshopDto

<h1>Create Car Workshop</h1>
<hr/>

<div class="row">
	<div class="col-md-4">
		<form action="/CarWorkshop/Create" method="post">

			<div class="form-group mb-3">
				<label class="control-label" asp-for="Name">Name</label>
				<input type="text" asp-for="Name" class="form-control">
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="control-label" asp-for="Description">Description</label>
				<input type="text" asp-for="Description" class="form-control">
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="control-label" asp-for="About">About</label>
				<input type="text" asp-for="About" class="form-control">
			</div>

			<div class="form-group mb-3">
				<label class="control-label" asp-for="PhoneNumber">Phone Number</label>
				<input type="text" asp-for="PhoneNumber" class="form-control">
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="control-label" aso-for="Street">Street</label>
				<input type="text" asp-for="Street" class="form-control">
			</div>

			<div class="form-group mb-3">
				<label class="control-label" asp-for="City">City</label>
				<input type="text" asp-for="City" class="form-control">
			</div>

			<div class="form-group mb-3">
				<label class="control-label" asp-for="PostalCode">Postal Code</label>
				<input type="text" asp-for="PostalCode" class="form-control">
			</div>

			<div class="form-group mb-3">
				<input type="submit" value="Create" class="btn btn-primary">
			</div>

		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}